<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        //DB connection enter
        <add name="sp_update.Properties.Settings.Setting" connectionString=""
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
        
        //enter path --> .txt
    <add key="spNameFile" value=""/>
    <add key="spFile" value=""/>
    <add key="db" value=""/>


    // enter path --> .txt 
    <add key="filePath" value=""/>
    <add key="filePath2" value=""/>
    <add key="targetFile" value=""/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>